* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2;
    width: 50%;
    margin: 0;
    text-align: center;
    margin-left: 280px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

button {
    padding: 10px;
    margin: 10px;
    border-radius: 8px
}

.scores a {
    cursor: pointer;
}



